name: Run Page Performance Every Sunday & Monday 8 AM IST
on:
  schedule:
    # 8 AM IST = 2:30 AM UTC
    - cron: '30 2 * * 0,1'
  workflow_dispatch:

jobs:
  run-notebook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pandas sqlalchemy psycopg2-binary ipykernel nbconvert
          python -m ipykernel install --user --name=python3

      - name: Execute notebook
        run: |
          jupyter nbconvert --to notebook --execute Page_Performance.ipynb --output output.ipynb
